<div class="content">
  <ng-container *ngIf="currentUser$ | async as cu; else authModel">
    <div class="avatar">
      <div class="avatar-title">{{ cu.email.charAt(0) }}</div>
    </div>
    <div class="avatar-mail" (click)="toggleLogout()">
      {{ cu.email }}
      <i class="pi pi-angle-down" [class.rotate]="showLogout"></i>
      <p-button
        class="logout-button"
        *ngIf="showLogout"
        label="Logout"
        (onClick)="logout()"
        severity="contrast"
      />
    </div>
  </ng-container>
  <ng-template #authModel>
    <div class="logo">
      <img src="assets/icons/todo-logo.svg" alt="Logo" />
      <span class="title-logo">TODO</span>
    </div>
    <div class="auth">
      <p-button
        label="Login / Registration"
        (onClick)="showDialog(true)"
        [rounded]="true"
        [ngClass]="'btn'"
      />
    </div>
  </ng-template>
</div>
<app-auth [visible]="visible" (visibleChange)="showDialog($event)"></app-auth>