.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  box-shadow: 0px 0px 15px #f07714;
  background: #f07714;
  .logo {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 3px solid #ffff;
    pointer-events: none;
    img {
      fill: #ffff;
      width: 3rem;
      height: 3rem;
    }
    .title-logo {
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: #ffff;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
  .avatar {
    position: relative;
    border: 2px solid #ffff;
    background: #ffff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    .avatar-title {
      position: absolute;
      text-transform: uppercase;
      color: #f07714;
      font-weight: 600;
      font-size: 1.8rem;
      left: 0.8rem;
      top: 0.6rem;
    }
  }
  .avatar-mail {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
    .pi-angle-down{
      transition: transform 0.2s ease;
      &.rotate {
        transform: rotate(-180deg);
      }
    }
    .logout-button {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 100%;
      transform: translateX(-100%);
      font-size: 0.8rem;
    }
  }
  .auth {
    ::ng-deep .btn .p-button {
      background-color: #ffff !important;
      border-color: #ffff !important;
      color: #f07714 !important;
      font-size: 1rem;
      font-weight: 600;
    }
    ::ng-deep .btn .p-button:hover {
      background-color: darken(#ffff, 15%) !important;
      border-color: darken(#ffff, 15%) !important;
    }
  }
}
