<div class="blur-bg" *ngIf="visible" (click)="onClickOutside($event)">
  <div class="container">
    <span class="title">{{ isLoginMode ? 'Login' : 'Signup' }}</span>
    <div class="toggle-buttons">
      <button (click)="toggleMode()" [class.active]="isLoginMode">Login</button>
      <button (click)="toggleMode()" [class.active]="!isLoginMode">Sign Up</button>
    </div>
    <form class="form" [formGroup]="authForm" *ngIf="isLoginMode; else signupFormModel">
      <input type="email" placeholder="E-mail" formControlName="email" required>
      <input type="password" placeholder="Password" formControlName="password" required>
      <button type="submit" (click)="login()">Login</button>
    </form>
    <ng-template #signupFormModel>
      <form class="form" [formGroup]="authForm">
        <input type="email" placeholder="Email Address" formControlName="email" required>
        <input type="password" placeholder="Create Password" formControlName="password" required>
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
        <button type="submit" (click)="register()">Sign Up</button>
      </form>
    </ng-template>
  </div>
</div>