<div class="blur-bg" *ngIf="visible" (click)="onClickOutside($event)">
  <div class="container">
    <span class="title">{{ isLoginMode ? 'Login' : 'Signup' }}</span>
    <div class="toggle-buttons">
      <button (click)="toggleFormMode(true)" [class.active]="isLoginMode">Login</button>
      <button (click)="toggleFormMode(false)" [class.active]="!isLoginMode">Sign Up</button>
    </div>
    <form class="form" [formGroup]="authForm" *ngIf="isLoginMode; else signupFormModel">
      <input type="email" placeholder="E-mail" formControlName="email" required [class.invalid]="isFieldInvalid('email')">
      <div *ngIf="isFieldInvalid('email')" class="error-message">Invalid email</div>
      <input type="password" placeholder="Password" formControlName="password" required [class.invalid]="isFieldInvalid('password')">
      <div *ngIf="isFieldInvalid('password')" class="error-message">Invalid password</div>
      <button type="submit" (click)="login()" [class.disabled]="authForm.invalid" [disabled]="authForm.invalid">Login</button>
    </form>
    <ng-template #signupFormModel>
      <form class="form" [formGroup]="authForm">
        <input type="email" placeholder="Email Address" formControlName="email" required [class.invalid]="isFieldInvalid('email')">
        <div *ngIf="isFieldInvalid('email')" class="error-message">Invalid email</div>
        <input type="password" placeholder="Create Password" formControlName="password" required [class.invalid]="isFieldInvalid('password')">
        <div *ngIf="isFieldInvalid('password')" class="error-message">Invalid password</div>
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required [class.invalid]="isFieldInvalid('confirmPassword')">
        <div *ngIf="isFieldInvalid('confirmPassword')" class="error-message">Passwords do not match</div>
        <button type="submit" (click)="register()" [class.disabled]="authForm.invalid" [disabled]="authForm.invalid">Sign Up</button>
      </form>
    </ng-template>
  </div>
</div>